<header th:fragment="myheader">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Cart</a>
            </div>
            <ul class="nav navbar-nav">
                <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"><a href="/product/">Product</a></li>
                <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"><a href="/category/">Category</a></li>
                <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"><a href="/admin-page/">Admin</a></li>
                <li th:if="${#authorization.expression('hasAuthority(''USER'')')}"><a href="/user-page/">User</a></li>
                <li th:if="${#authorization.expression('hasAuthority(''USER'')')}"><a href="/shop/">Shop</a> </li>
                <li><a href="/registration">Register</a> </li>
            </ul>
        </div>
    </nav>
</header>
